<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
{% include 'navbar.html' %}
<body id="page-top" class="index">
        <div class="container content-container">
          <div class="row">
            <div class="col-md-6">
              <div class ="form-group">
                <label class="custom-label" for="hostname" >HostName</label>
                <select class="selectpicker" data-live-search="true" data-width="auto" title="Select any Hostname" id="hostname">
                  {% for row in op %}
                    <option value="{{ loop.index-1 }}">{{ row.host }}</option>
                  {% endfor %}
                </select>
              </div>
              <dl class="dl-horizontal" id="bug-info">
              </dl>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bug Data</h4>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

</body>
{% include 'footer.html' %}
<script type='text/javascript'>
$(document).ready(function(){
    $('#bug').removeClass('page-scroll').addClass('page-scroll active');
    $('#hostname').change(function(){
      var key = $(this).val();
      var op = JSON.parse('{{ op|tojson}}');
      var eos = op[key].eos;
      var bugs = op[key].bugdata;
      var mac = op[key].mac;
      var host = op[key].host;
      var row = "<dt>SwitchId</dt><dd>"+mac+"</dd><dt>Hostname</dt><dd>"+host+"</dd><dt>EOS Version</dt><dd>"+eos+"</dd><dt>Bug Info</dt><dd><button type='button' class='btn btn-info btn-sm' data-toggle='modal' data-target='#myModal'>Show Bugs</button></dd>"
      $('#bug-info').html(row);
      var len = bugs.length;
      if(len > 0){
        $('.modal-body').html("<table class='table table-hover'><thead><tr><th>Bug ID</th><th>Version Fixed</th><th>Bug Details</th></tr></thead><tbody>");
        for(var x in bugs){
          $('.modal-body tbody').append("<tr><td>"+bugs[x].bugid+"</td><td>"+bugs[x].ver_fix+"</td><td class='td-details'>"+bugs[x].details+"</td></tr>");
        }
        $('.modal-body tbody').append("</tbody></table>");
      }
      else{
        $('.modal-body').html("No bugs found for this version..");
      }

    });
});
</script>
</html>
