<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
{% include 'navbar.html' %}
<body id="page-top" class="index">
        <div class="container content-container">
          <div class="col-lg-12">
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Hostname <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                {% for row in op %}
                  <li><a class="dropdown-item" href="#">{{ row.op[0].host }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
                {#
                  <table class="table table-hover table-container">
                    <thead>
                      <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">SwitchId</th>
                        <th class="text-center">Hostname</th>
                        <th class="text-center">Bug Info</th>
                        <th class="text-left">EOS Version</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in op %}
                      <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ row.mac }}</td>
                        <td>{{ row.op[0].host }}</td>
                        <td><button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Show Bugs</button></td>
                        </td>
                        <td class="text-left">{{ row.op[0].eos }}</td>
                      {% endfor %}
                    </tbody>
                  </table>#}
                <!-- Modal -->
                      <div id="myModal" class="modal fade" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Bug Data</h4>
                          </div>
                          <div class="modal-body">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>

                      </div>
                      </div>
        </div>
</body>
{% include 'footer.html' %}
<script type='text/javascript'>
$(document).ready(function(){
    $('#bug').removeClass('page-scroll').addClass('page-scroll active');
});
</script>
</html>
