<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'header.html' %}
  <script type='text/javascript'>
  $(document).ready(function(){
      $('#conn').removeClass('page-scroll').addClass('page-scroll active');
  });
  </script>

</head>

<body id="page-top" class="index">
  {% include 'navbar.html' %}
        <div class="content-container">
                <div class="col-lg-12">
                  <table class="table table-hover table-container">
                    <thead>
                      <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Hostname</th>
                        <th class="text-center">SwitchId</th>
                        <th class="text-center">Status</th>
                        <!-- <th class="text-center">oobConnectionSecured</th> -->
                        <th class="text-center" colspan = 2>heartbeatStatus</th>
                        <!-- <th class="text-center">ibConnectionSecured</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th class="text-center" colspan = 4></th>
                        <th class="text-center" >lastHeartbeatSent</th>
                        <th class="text-center" >lastHeartbeatReceived</th>
                        <!-- <th class="text-center" >Offset</th> -->
                        <th class="text-center" ></th>
                      </tr>
                      {% for con in conn %}
                        <tr>
                          <td>{{ loop.index }}</td>
                          <td>{{ con.hostname }}</td>
                          <td>{{ con.switchId }}</td>
                          <td>{{ con.status }}</td>
                          <td>{{ con.heartbeatStatus.lastHeartbeatSent|format_date }}</td>
                          <td>{{ con.heartbeatStatus.lastHeartbeatReceived|format_date }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
        </div>
        {% include 'footer.html' %}
</body>
</html>
