<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <!-- <img class="img-responsive" src="img/Arista.png" alt="" /> -->
            <a class="navbar-brand header-logo" href="/"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden" id="index"><a href="/"></a></li>
                <li class="page-scroll" id="conn"><a href="/connections">CVX Clients</a></li>
                <li class="page-scroll" id="topo"><a href="/topology">Topology</a></li>
                <li class="page-scroll" id="vx"><a href="/vxlan">VxLAN</a></li>
                <li class="page-scroll" id="bug"><a href="/bugalerts">Bug Alerts</a></li>
                <!-- <li class="page-scroll" id="feature"><a href="#">RFE</a></li> -->
                <!-- <li class="page-scroll" id="admin"><a href="#">Admin</a></li> -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
