<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
{% include 'navbar.html' %}

<body id="page-top" class="index">

        <div class="content-container">
                <div class="col-lg-12">
                  <h1><p class="text-center text-primary">CONNECTIONS</p></h1>
                    <iframe src="{{ url_for('static', filename = 'cyto/topology_index.html') }}" style="border:none;position: relative;" width="1040" height="500" align="middle"></iframe>
                </div>
        </div>
</body>
{% include 'footer.html' %}
<script type='text/javascript'>
$(document).ready(function(){
    $('#topo').removeClass('page-scroll').addClass('page-scroll active');
});
</script>

</html>
