<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
{% include 'navbar.html' %}
<head>
    <style>
        .jzoom {
            position: absolute;
            top: 250px;
            left: 100px;
            width: 350px;
            height: 350px;
        }

    </style>
</head>

<body id="page-top" class="index">
  <div class="content-container">
    <!-- div class="col-lg-12"-->
    <div class="jzoom">
      <img src="{{ url_for('static', filename = 'img/simple.png') }}" alt="" width = "500" height="500">
    </div>
  </div>
<script>
    $('.jzoom').jzoom({
      // width / height of the magnifying glass
      $('.jzoom').jzoom({bgColor: "#786"});
    });
  </script>
</body>
{% include 'footer.html' %}
<script type='text/javascript'>
$(document).ready(function(){
    $('#topo').removeClass('page-scroll').addClass('page-scroll active');
});
</script>
</html>
