<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
{% include 'navbar.html' %}

<body id="page-top" class="index">
        <div class="content-container" id = "content-container">
          <div class="col-lg-2">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">SwitchID</th>
                  <th class="text-center">Host</th>
                  <th class="text-center">VTEP</th>
                </tr>
              </thead>
              <tbody>
                {% for row in op %}
                  <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ row.mac }}</td>
                    <td>{{ row.host }}</td>
                    <td>{{ row.vtep }}</td>
                  </tr>
                {% endfor %}
              </tbody>
          </div>
        <!-- <div class="content-container">
                <div class="col-lg-12">
                    <iframe src="{{ url_for('static', filename = 'cytoscape/index.html') }}" style="border:none;" width="1024" height="800"></iframe>
                </div>

        </div> -->
</body>
{% include 'footer.html' %}
<script type='text/javascript'>
$(document).ready(function(){
    $('#vx').removeClass('page-scroll').addClass('page-scroll active');
});
</script>
</html>
