<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Cytoscape  -->
    <link href="{{ url_for('static', filename = 'cytoscape/style.css') }}" rel="stylesheet" />
    <script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
    <script src="{{ url_for('static', filename = 'cytoscape/custom.js') }}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

    <!-- Cytoscape Dagre -->
    <script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.1.2/cytoscape-dagre.js"></script>

</head>
{% include 'header.html' %}
{% include 'navbar.html' %}

<body id="page-top" class="index">
    <div class="content-container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <table class="table table-hover table-container">
            <thead>
              <tr>
                <th class="text-center">#</th>
                <th class="text-center">SwitchID</th>
                <th class="text-center">Host</th>
                <th class="text-center">VTEP</th>
              </tr>
            </thead>
            <tbody>
              {% for row in op %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>{{ row.mac }}</td>
                  <td>{{ row.host }}</td>
                  <td>{{ row.vtep }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-lg-6 col-md-6">
          <h5>Graph</h5>
          <div id="container well">
            <iframe src="{{ url_for('static', filename = 'cytoscape/index.html') }}" style="border-style: solid; border-width: low;" width="600px" height="400px"></iframe>
          </div>
        </div>
      </div>
    </div>
</body>
{% include 'footer.html' %}
<script type='text/javascript'>
$(document).ready(function(){
    $('#vx').removeClass('page-scroll').addClass('page-scroll active');
});
</script>
</html>
